<p>movies-list works!</p>
<div class="container">
  <!-- <div>
    <button (click)="askToAPI1()">
      <img
        class="faceVisibleImg"
        src="https://assetsnffrgf-a.akamaihd.net/assets/m/502013285/univ/art/502013285_univ_lsr_xl.jpg"
        alt="citrouille"
      />
      <div>
        <img [src]="this.result.posterUrl" />
      </div>
    </button>
  </div>

  <div>
    <button (click)="askToAPI2()">
      <img
        class="faceVisibleImg"
        src="https://assetsnffrgf-a.akamaihd.net/assets/m/502013285/univ/art/502013285_univ_lsr_xl.jpg"
        alt="citrouille"
      />
      <div>
        <img [src]="this.result.posterUrl" />
      </div>
    </button>
  </div> -->


  <div *ngFor="let deck of decks; let i=index" >
    <div *ngFor="let card of deck; let j=index" >
        <button (click)="askToAPI(i,j)">
            <img
              class="faceVisibleImg"
              src="https://assetsnffrgf-a.akamaihd.net/assets/m/502013285/univ/art/502013285_univ_lsr_xl.jpg"
              alt="citrouille"
            />
            <div>
              <img [src]="card.posterUrl" />
            </div>
          </button>
    </div>
  </div>


</div>


