
  .container{
    display: flex;
    flex-direction: column;
    background-image: url(../../../assets/images/choiceMonster.jpg);
    background-size: 100% 100%;
  }
  button{
    background-color: black;
    padding: 0;
  }
  .citrouilleCarte{
    display: flex;
    justify-content: space-around;
  }
.cartePlayer1, .cartePlayer2{
  display: flex;
  flex-direction: column;
}
img{
  height: 250px;
  width: 200px;
  border-radius: 30px;
}

.buttonSurvive{
  position: fixed;
  top: 55vh;
  left: 45vw;
  font-size: 1.5rem;
  font-family: 'Lacquer', sans-serif;
  background-color: red;
}

.cardsTwo{
  display:flex;
  flex-direction: row-reverse;
}
.m2{
  margin-left: 30px;
}
.m1{
  margin-right: 30px;
}
.m2, .m1{
  border-radius: 30px;
}
