// .faceVisibleImg {
//     width: 400px;
//   }
  .container{
    display: flex;
    flex-direction: column;
    background-image: url(../../../assets/images/choiceMonster.jpg);
    background-size: 100% 100%;
  }
  button{
    background-image: black;
    padding: 0;
  }
  .citrouilleCarte{
    display: flex;
    justify-content: space-between;
  }
.cartePlayer1, .cartePlayer2{
  display: flex;
  flex-direction: column;
}
img{
  height: 300px;
  width: 200px;
}
.cartePlayer1{
  margin-right: 50px;;
}
