<div class="monsterPage">
  <app-nav-bar-player></app-nav-bar-player>
  <div>
    <button mat-raised-button [routerLink]="['/moviesList']">Fight!</button>
  </div>
  <div class="monsterGalery">
    <div class="monsterPlayer2">
      <div *ngFor="let monster of monsters">
        <label>
          <input type="checkbox" />
          <div class="card">
            <img
              class="monsterCard"
              ondblclick="getAvatarPlayer2()"
              src="{{ monster.picture }}"
              alt="Monstre"
            />
            <div class="back monsterCard">{{ monster.name }}</div>
          </div>
        </label>
      </div>
    </div>

    <div class="monsterPlayer2">
      <div *ngFor="let monster of monsters">
        <label>
          <input type="checkbox" />
          <div class="card">
            <img
              class="monsterCard"
              ondblclick="getAvatarPlayer2()"
              src="{{ monster.picture }}"
              alt="Monstre"
            />
            <div class="back monsterCard">{{ monster.name }}</div>
          </div>
        </label>
      </div>
    </div>
  </div>
</div>
