.monsterPage{
  background-image: url('../../../assets/images/choiceMonster.jpg');
  background-size: cover;
}
app-nav-bar-player{
  color: white;
  font-size: 1.5rem;
}

.monsterGalery{
  display:flex;
  flex-direction: row;
  width: 100%;
  margin: auto;

}
.monsterPlayer1,.monsterPlayer2{
  margin: 50px 15px 0 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: solid red 1px;
  justify-content:space-around;
}
.monsterPlayer2{
  flex-direction: row-reverse;
}
.monsterCard{
 width: 100px;
 height: 160px;
 border: solid 1px black;
 border-radius: 5px;
 margin:5px;

}
.adjust{
  margin-left: 150px;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

label {
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    display: block;
    width: 100%;
    height: 100%;

    cursor: pointer;
}

.card {
    position: relative;
    height: 100%;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 600ms;
    transition: all 600ms;
    z-index: 20;
}

    .card div {
        position: absolute;
        height: 100%;
        width: 100%;
        background: #FFF;
        text-align: center;
        line-height: 200px;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 5px;

    }

    .card .back {
        background: #222;
        color: #FFF;
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
        margin-top:-170px;
        width: 90%;
        height: 93%;
    }

label:hover .card {
    -webkit-transform: rotateX(20deg);
    transform: rotateX(20deg);
    box-shadow: 0 20px 20px rgba(50,50,50,.2);
}

input {
    display: none;
}

:checked + .card {
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
}

label:hover :checked + .card {
    transform: rotateX(160deg);
    -webkit-transform: rotateX(160deg);
    box-shadow: 0 20px 20px rgba(255,255,255,.2);
}
