.home {
  background-image: url("https://steamuserimages-a.akamaihd.net/ugc/914659215891614089/0A998221D53DC9EA07FB68FA278023D49DCEF44F/");
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
}

h1{
  font-family: 'Lacquer', sans-serif;
  color: rgb(180, 4, 4);
  font-size: 5vw;
  padding: 10vh 0vh 0vh 50vw;
  margin: 0;
}
